.scrolling-wrapper{
	overflow-x: auto;
	padding-top: 10px;
  padding-bottom: 10px;	
  padding-block-end: 30px;
}


.card {
  width: auto;
}

.card-body {
  justify-content: space-between;
}

.card-img-top {
  max-height: 8rm;
}

.cards {
  margin-top: 200px;
}

.d-flex {
  margin-top: 100px;
  margin-bottom: 100px;
}

.card-img-top {
  max-height: 250px;
  min-height: 150px;
  
}

.footer {
  width: 80%;
  height: auto;
}

.card-deck {
  margin-bottom: 30px;
}

.page-item .page-link {
  border:5px solid #666
}

#error {
  position: relative;
  transform: translateY(-50%);
  top: 100px;
  max-width: 50%;
  left: 20%;
}

.changeColor{
  background-color: #efb8c0;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 5px;
}