* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  -webkit-font-smoothing: antialiased;

}
  /* Stackoverflow preview fix, please ignore */
.navbar-nav {
  flex-direction: row;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.scrolling-wrapper{
	overflow-x: auto;
	padding-top: 30px;
	padding-bottom: 70px;	
}


.card {
  width: auto;
}

.card-img-top {
  max-height: 8rm;
}

.card:hover{
  transform: translateY(-0.25em);
  box-shadow: 0 0 11px rgba(15, 15, 15, 0.5); 
}