* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  -webkit-font-smoothing: antialiased;


}
  /* Stackoverflow preview fix, please ignore */
.navbar-nav {
  flex-direction: row;
}

.nav-espaco {
  margin-left: 1rem;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.scrolling-wrapper{
	overflow-x: auto;
	padding-top: 30px;
  padding-bottom: 70px;	
  padding-block-end: 30px;
}


.card {
  width: auto;
  cursor: pointer;
}

.card-img-top {
  max-height: 8rm;
}

.card:hover{
  transform: translateY(-0.25em);
  box-shadow: 0 0 11px rgba(15, 15, 15, 0.5); 
}

.cards {
  margin-top: 200px;
}

.d-flex {
  margin-top: 100px;
  margin-bottom: 100px;
}

.card-img-top {
  max-height: 250px;
  min-height: 150px;
  
}

.footer {
  width: 80%;
  height: auto;
}

.card-deck {
  margin-bottom: 30px;
}